@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap');
@import '~antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

.text-main {
    color: #3076D2;
}
.main-layout {
    background-color: #F5F5F5;
    min-height: 100%;
    height: 100%;
}

.main-content {
    min-height: 100%;
    height: 100%;
    padding-left: 13rem;
    padding-right: 13rem;
}

.nav-head {
    background-color: #3076D2;
    // margin-left:10rem !important;
    // margin-right:10rem !important;
}
.nav-head-login {
    background-color: #fff;
    // margin-left:10rem !important;
    // margin-right:10rem !important;
}
.nav-head-margin {
    margin-left:13rem !important;
    margin-right:13rem !important;
    height: 130px !important;
}
.nav-head-margin-login {
    margin-left:13rem !important;
    margin-right:13rem !important;
    height: 70px !important;
}
.login-container{
    padding: 5rem;
}
.nav-logo {
    width: 100%;
}
.search-bar {
    width: 100%;
}
.nav-menu {
    font-size: 13px;
    color: white;
}

.mobile-none {
    display: initial;
}

.carousel-container{
    height: 270px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}
.carousel-container-mall {
    height: 464px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;

}
.branner {
    width: 100%;
    height: 100%;
}
.side-new {
    height: 105px;
}
.product-image {
    width: 173px;
    height: 173px;
    object-fit: cover;    
}
.logo-flash-sale{
    width: 10%;
}
.font-dountdown {
    font-size: 14px;
}
.row-custom {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.product-image-search{
    width: 130px;
    height: 130px;
    object-fit: cover;    


}
.product-image-recomend {
    width: 160px;
    height: 160px;
    object-fit: cover;    
}
// .css-19kzrtu {
//     padding: 0px !important; 
// }
@media (max-width: 1440px) and (min-width:1025px ){
     /* For tablets pro: */

    .mobile-none {
        display: initial;
    }
    .side-new {
        height: 115px;
    }
    .carousel-container{
        height: 270px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }
    .product-image-recomend {
        width: 140px;
        height: 140px;
        object-fit: cover;    
    }
}
@media (max-width: 1024px) and (min-width:769px ){
     /* For tablets pro: */

    .mobile-none {
        display: initial;
    }
    .nav-head-margin {
        padding-top: 10px;
        margin-left:2rem !important;
        margin-right:2rem !important;
        height: 130px !important;
    }
    .nav-head-margin-login {
        padding-top: 10px;
        margin-left:2rem !important;
        margin-right:2rem !important;
        height: 70px !important;
    }
    .main-content {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .carousel-container{
        height: 270px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }

}
@media (max-width: 768px) and (min-width:575.98px ){
    /* For tablets: */

    .mobile-none {
        display: none;
    }
    .nav-head-margin {
        padding-top: 10px;
        margin-left:0rem !important;
        margin-right:0rem !important;
        height: 70px !important;
    }
    .nav-head-margin-login {
        padding-top: 10px;
        margin-left:0 !important;
        margin-right:0 !important;
        height: 40px !important;
    }
    .nav-logo {
        width: 100px;
    }
    .main-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .carousel-container{
        height: 160px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }
    
}
@media (max-width: 575.98px) {
    /* For mobile: */

    .mobile-none {
        display: none;
    }
    .logo-none {
        display: none;
    }
    
    .nav-head-margin {
        padding-top: 10px;
        margin-left:0 !important;
        margin-right:0 !important;
        height: 70px !important;
    }
    .nav-head-margin-login {
        margin-left:0 !important;
        margin-right:0 !important;
        height: 40px !important;
    }
    .main-content {
        // padding: 5px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .carousel-container{
        height: 100px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }
    .logo-flash-sale{
        width: 30%;
    }
    .font-dountdown {
        font-size: 12px;
    }
    .carousel-container-mall {
        height: 130px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    
    }
    .css-19kzrtu {
        padding: 10px !important; 
    }
    .product-image-recomend {
        width: 150px;
        height: 150px;
        object-fit: cover;    
    }
    .login-container{
        padding: 1rem;
    }
}

