@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}
.main-container {
    padding-left: '5%';
    padding-right: '5%';
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    align-items: center !important;
}

.css-1bnq14t-MuiInputBase-root {
    width: 105ch;

}
.css-1xgsf0v{
    height: 250px !important;
    display: block;
    max-width: 100% !important;
    overflow: hidden;
    width: 100% !important;
}
.css-46bh2p-MuiCardContent-root {
    padding: 0px !important;
}
.footer.content > img,
.footer.content > span {
    display: inline-block;
}
.css-1oqqzyl-MuiContainer-root {
    max-width: 1200px !important;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: #eeeeee;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding:0;
}
@media  (min-width:1200px ){
     /* For tablets pro: */
    .css-1bnq14t-MuiInputBase-root {
        width: 80ch;
    
    }
    .css-1oqqzyl-MuiContainer-root {
        max-width: 1400px !important;
    }
}
@media (max-width: 1024px) and (min-width:769px ){
     /* For tablets pro: */
    .css-1bnq14t-MuiInputBase-root {
        width: 80ch;
    
    }
}
@media (max-width: 768px) and (min-width:575.98px ){
    /* For tablets: */
    .main-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .css-1bnq14t-MuiInputBase-root {
        width: 40ch;
    
    }
}
@media (max-width: 575.98px) {
    /* For mobile: */
    .main-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .css-1bnq14t-MuiInputBase-root {
        width: 20ch;
    
    }
}
