@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap');
@import '~antd/dist/antd.css';
@import "@fortawesome/fontawesome-free/css/all.css"; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

.text-main {
    color: #3076D2;
}
.main-layout {
    background-color: #F5F5F5;
    min-height: 100%;
    height: 100%;
}

.main-content {
    min-height: 100%;
    height: 100%;
    padding-left: 23rem;
    padding-right: 23rem;
}

.nav-head {
    background-color: #3076D2;
    // margin-left:10rem !important;
    // margin-right:10rem !important;
}
.nav-head-login {
    background-color: #fff;
    // margin-left:10rem !important;
    // margin-right:10rem !important;
}
.nav-head-margin {
    margin-left:23rem !important;
    margin-right:23rem !important;
    height: 119px !important;
}
.nav-head-margin-login {
    margin-left:23rem !important;
    margin-right:23rem !important;
    height: 70px !important;
}
.login-container{
    padding: 5rem;
}
.register-container{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
}
.nav-logo {
    width: 100%;
    margin-top: -20px;
}
.search-bar {
    border-radius: 50px;
    width: 100%;
}
.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child){
    border-radius: 2px !important;   // or other value
 }
 .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    left: -1px;
    padding: 3px;
    border: 0;
 }
 .ant-input-affix-wrapper {
    padding: 10px 11px !important;
    font-size: 14px;
}
.nav-menu {
    font-size: 13px;
    color: white;
}

.mobile-none {
    display: initial;
}

.carousel-container{
    height: 361px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
    border-radius: 10px;
}
.carousel-container-mall {
    height: 463px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;

}
.branner {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.side-new {
    height: 105px;
}
.product-image {
    width: 173px;
    height: 173px;
    object-fit: cover;    
}
.logo-flash-sale{
    width: 10%;
}
.font-dountdown {
    font-size: 14px;
}
.row-custom {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.product-image-search{
    width: 130px;
    height: 130px;
    object-fit: cover;    


}
.product-image-recomend {
    width: 188px;
    height: 188px;
    object-fit: cover;    
}
.css-19kzrtu {
    padding: 0px !important; 
}
.bg {
    width: 100%; 
  }
  .bg img {
    position: absolute; 
  }
  .cover-shop{
      position: absolute;
      width: 350px;
      height: 130px;
      object-fit: cover;
    //   background-color: rgba(0, 0, 0, 1.5);
      opacity: 0.6;
  }
  .css-1gsv261 {
    border-bottom: 0px !important; 
    border-color: rgba(0, 0, 0, 0.12);
}

.discount-code-container{
    padding-top: 255px !important;
}
.shop-profile-container{
    position:absolute;
    left:0px;
    right:0px;
    height:245px;
    background-color:white;
}

div.progess-text {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        position: absolute;
    }
    div:not(.bar){
        justify-content: start;
    }
}
.mobile-show{
    display: none;
}
.filter-height{
    height: 60px;
}
.ant-pagination {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    // list-style: none;
}
.product-detail-photo {
    height: 450px;
    width: 450px;
    object-fit: cover;

}
.preview-product{
    height: 82px;
    width: 82px;
    object-fit: cover;
}
.pagination-position {
    padding: 1rem;
    display: flex;
    justify-content: end;
}
@media (max-width: 1440px) and (min-width:1025px ){
     /* For tablets pro: */

    .mobile-none {
        display: initial;
    }
    .side-new {
        height: 115px;
    }
    .carousel-container{
        height: 361px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }
    .product-image-recomend {
        width: 184px;
        height: 184px;
        object-fit: cover;    
    }
    .product-image {
        width: 150px;
        height: 150px;
        object-fit: cover;    
    }
    .carousel-container-mall {
        height: 400px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    
    }
    .register-container{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }
    .main-content {
        min-height: 100%;
        height: 100%;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .nav-head-margin {
        margin-left:10rem !important;
        margin-right:10rem !important;
        height: 130px !important;
    }
    .nav-head-margin-login {
        margin-left:10rem !important;
        margin-right:10rem !important;
        height: 70px !important;
    }
}
@media (max-width: 1024px) and (min-width:769px ){
     /* For tablets pro: */

    .mobile-none {
        display: initial;
    }
    .nav-head-margin {
        padding-top: 10px;
        margin-left:2rem !important;
        margin-right:2rem !important;
        height: 130px !important;
    }
    .nav-head-margin-login {
        padding-top: 10px;
        margin-left:2rem !important;
        margin-right:2rem !important;
        height: 70px !important;
    }
    .main-content {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .carousel-container{
        height: 270px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }

}
@media (max-width: 768px) and (min-width:575.98px ){
    /* For tablets: */

    .mobile-none {
        display: none;
    }
    .nav-head-margin {
        padding-top: 10px;
        margin-left:0rem !important;
        margin-right:0rem !important;
        height: 70px !important;
    }
    .nav-head-margin-login {
        padding-top: 10px;
        margin-left:0 !important;
        margin-right:0 !important;
        height: 70px !important;
    }
    .nav-logo {
        width: 100px;
    }
    .main-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .carousel-container{
        height: 160px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }
    
}
@media (max-width: 575.98px) {
    /* For mobile: */

    .mobile-none {
        display: none;
    }
    .logo-none {
        display: none;
    }
    
    .nav-head-margin {
        padding-top: 10px;
        margin-left:0 !important;
        margin-right:0 !important;
        height: 100px !important;
    }
    .nav-head-margin-login {
        margin-left:0 !important;
        margin-right:0 !important;
        height: 50px !important;
    }
    .main-content {
        // padding: 5px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: fit-content;
    }
    .carousel-container{
        height: 100px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    }
    .logo-flash-sale{
        width: 30%;
    }
    .font-dountdown {
        font-size: 12px;
    }
    .carousel-container-mall {
        height: 130px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
    
    }
    .css-19kzrtu {
        padding: 10px !important; 
    }
    .product-image-recomend {
        width: 150px;
        height: 150px;
        object-fit: cover;    
    }
    .login-container{
        padding: 1rem;
    }
    .register-container{
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
    }
    .nav-head {
        background-color: #3076D2;
        width: 100% !important;
        position: fixed !important;
        z-index: 1 !important;
        top: 0 !important;
    }
    .shop-profile-container{
        position:absolute;
        left:0;
        right:0;
        height:570px;
        background-color:white;
    }
    .discount-code-container{
        padding-top: 578px !important;
    }
    .mobile-show{
        display: block;
    }
    .filter-height{
        height: 100px;
    }
}

