@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap');
@import '~antd/dist/antd.css';
@import "@fortawesome/fontawesome-free/css/all.css"; 

.review-picture{
    height: 72px;
    width: 72px;
    object-fit: cover;
    margin-right: 5px;
}
.product-detail-image{
    width: 184px;
    height: 184px;
    object-fit: cover;    

}
.foot-checkout {
    padding-left: 23rem;
    padding-right: 23rem; 
}
.cart-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;    

}
.drawer-container{
    padding-left: 0;
}
@media (max-width: 1440px) and (min-width:1025px ){
     /* For tablets pro: */

    .foot-checkout {
        padding-left: 10rem;
        padding-right: 10rem; 
    }
}
@media (max-width: 1024px) and (min-width:769px ){
     /* For tablets pro: */
  
    

}
@media (max-width: 768px) and (min-width:575.98px ){
    /* For tablets: */
  
    
}
@media (max-width: 575.98px) {
    /* For mobile: */
    
    .foot-checkout {
        padding-left: 0;
        padding-right: 0; 
    }
    .drawer-container{
        padding-left: 2rem;
    }
    .cart-photo {
        width: 150px;
        height: 150px;
        object-fit: cover;    
    
    }
}

